<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" >
<title>{{ title }}</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>




<body>
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->

    {% block content %}{% endblock %}
    {% block link %} {% endblock %}
    {% block category %} {% endblock %}


</body>




</html>